.createForm {
  width: 46rem;
  height: 54px;
  display: flex;
  justify-content: space-between;
  margin-top: -60px
}

.createForm input {
  width: 40rem;
  height: 54px;
  background: var(--gray-500);
  padding: 0 10px;
  font-size: 1rem;
  color: var(--gray-300);
  border-radius: 8px;
  border: 0.5px solid var(--gray-700);
}

.createForm button[type="submit"] {
  border-radius: 8px;
  border: 0;
  background: var(--blue-dark);
  color: var(--white);
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.1s;
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.createForm button[type="submit"]:hover {
  background: var(--blue);
}